# Database
DB_HOST=kodnest-kodnest.i.aivencloud.com
DB_PORT=18000
DB_USER=avnadmin
DB_PASSWORD=
DB_NAME=defaultdb

# Constructed Database URL for Prisma
# mysql://USER:PASSWORD@HOST:PORT/DATABASE?ssl-mode=REQUIRED
DATABASE_URL=

# Auth
JWT_SECRET=
